# build
bin/
obj/
*.apks
*.exe
*.dll

# ide
.vscode/
*.user
*.suo
*.vs

# MAUI 
Platforms/Android/obj/
Platforms/iOS/obj/
Platforms/Windows/obj/

# Other
**/Debug/
**/Release/

*.log

# Node.js
node_modules/
package-lock.json
